.gradle
.classpath
.project
.settings/

# Build directories:
target/
build/
bin/
META-INF/
build_tools/
node_modules/
gitflow/

# standalone-distribution
dist/standalone/installation-package/labfolder/Files/
dist/standalone/installation-package/labfolder/update/
dist/standalone/docker-build/codeimage/artifacts

# JavaDocs
doc/

# Configuration files
Maven_Ant_Builder.launch
maven-eclipse.xml
rebel.xml

# IntelliJ idea configuration files
.idea/*
!.idea/Labfolder-Codestyle.xml
*.iml

# overriding config properties in development
*.properties.override
*~

.DS_Store

npm-debug.log

// mergetool backups
*.orig
*_BACKUP_*

# integration test configuration for api v2
labfolder-api-v2/src/test/resources/labfolder-integration-test.properties
